@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
    --font-nunito: 'Nunito', sans-serif;
    --font-nunito-sans: 'Nunito Sans', sans-serif;

    --font-size-mobile-h1: 1.5rem;
    --font-size-mobile-h2: 1rem;
    --font-size-mobile-p: 1rem;
    --font-size-desktop-h1: 2rem;
    --font-size-desktop-h2: 1.2rem;
    --font-size-desktop-p: 1.2rem;

    --font-weight-h1: 700;
    --font-weight-h2: 600;
    --font-weight-p: 400;

    --colour-black: #0B0B0B;
    --colour-gray: #D9D9D9;
    --colour-dark-cerulean: #154B69;
    --colour-malachite: #16E851;
    --colour-beige: #F5F5DC;

    --breakpoint: 64rem;

    --s-1: 0.5rem;
    --s-2: 0.75rem;
    --s-3: 1rem;
    --s-4: 1.5rem;
    --s-5: 2rem;
}

button, input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
}

@media (min-width: 64rem) {
    #root {
        width: 100vw;
        height: 100vh;
        background-color: var(--colour-beige);
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}